<!doctype html>
{% load static %}
<!--{% load mailing_tag %}-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href=" {% static '/mail_app/css/bootstrap.min.css' %}" >
</head>
<body>
{# Меню #}
{% include 'mail_app/includes/inc_home_menu.html' %}
{#<!--        <a class="navbar-brand text-primary" href="{% url "mail_app:home" %}">-->#}
<i class="fa d-inline fa-lg fa-circle-o"></i>
<b> Спамер 3000</b>
{#<!--            <a href="{% url "blog:blog_list" %}">Блог</a>-->#}
<div class="container">
    <div class="row text-center">
        {% block content %}
        {% endblock %}
    </div>

    {% if request.path == "/" %}
        <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <p>Количество всех рассылок: {{ count_mail_all }}</p>
                            <p>Количество активных рассылок: {{ count_mail_active }}</p>
                            <p>Количество клиентов: {{ count_clients }}</p>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">1</div>
                    <div class="col-md-4">2</div>
                    <div class="col-md-4">3</div>
                </div>
            </div>
        </div>

    {% else %}
        {% block content %}
        {% endblock %}

    {% endif %}

    {# Футер #}
    {% include 'mail_app/includes/inc_futer.html' %}

    </div>
    </div>

    <script src="{% static '/mail_app/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>