{% extends 'mail_app/base.html' %}
{% load mailing_tag %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">DinnMail</h1>
    <p class="lead">{{ title }}  сервис рассылок
        </p>
</div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <p>Количество всех рассылок: {{ count_mail_all }}</p>
                            <p>Количество активных рассылок: {{ count_mail_active }}</p>
                            <p>Количество клиентов: {{ count_clients }}</p>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">1</div>
                    <div class="col-md-4">2</div>
                    <div class="col-md-4">3</div>
                </div>
            </div>
        </div>


    {% for object in object_list %}
        <div class="col-3">
{#            {% if object. %}#}
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <ul class="list-unstyled mt-2 mb-9 text-start m-1">

                            {{ object }}

                            <ul>
{#                            <img class="card-img-top"#}
{#                                src="{{ object.image|my_media }}"#}
{#                                alt="Card image cap">#}
{#                            </ul>#}
                        </ul>
                    </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">₽ {{ object.price|title }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">

                        {{ object.owner|truncatechars:100 }}
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>

            </div>
        </div>
    {% endfor %}


    </div>
{% endblock %}
